<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a href="/movies/new" class="btn btn-primary"><i class="fa-solid fa-film"></i></i> New</a>
        <a href="/movies/recommended" class="btn btn-primary"><i class="fa-solid fa-award"></i> Recommended</a>
        <a style="margin-left: 20px;margin-right: 20px;">|</a>
        <a href="/movies/add" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Movie</a>
      </div>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %> 
                <% if (movies[i].genres) { %>
                    <b style="color:green">Genero(<%= movies[i].genres.name %>)</b>
                <% } else { %>
                    (<span class="singenero">Sin género</span>)
                <% } %>
            </a>
        </li>
        <% } %>

    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>