<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir</title>
</head>
<body>
   <h3>subir imagen de prueba</h3>
   <form action="/subir" method="post" enctype="multipart/form-data">
    <label>Selecciona foto</label>
    <input type="file" name="imagen">
    <input type="submit" name="btn" value="Enviar">
   </form>
</body>
</html>